* {
    margin: 0;
    padding: 0;
    border: 0;
    box-sizing: border-box;
}

.menu {
    font-family: Arial, Helvetica, sans-serif;
    display: flex;
    width: 100%;
    background-color: black;
    box-shadow: 0 0 10px black;
    justify-content: space-between;
    align-items: center;
    padding: 0 1.7rem;
}

.title {
    color: white;
    letter-spacing: -3px;
}

.title-part1 {
    color: #55D8C1;
}

.title-part2 {
    font-size: 0.8rem;
    letter-spacing: normal;
}

.list {
    list-style: none;
    display: flex;
}

.list li {
    position: relative;
    /*Coloquei o pai do itens como position:ralativo para usar como base a posição para posicionar os filhos*/
}

.list li a {
    display: block;
    color: white;
    text-decoration: none;
    padding: 0.64rem;
}

.list>li:hover {
    /* O operador > Seleciona todos os filhos-diretos do elemento. */
    background-color: #55D8C1;
}

.list>li:hover>.sublist {
    /* O operador > Seleciona todos os filhos-diretos do elemento. */
    display: block;
}

.sublist {
    min-width: 110%;
    background-color: #55D8C1;
    display: none;
    position: absolute;
    top: 1.72rem;
    list-style: none;
    /*Os subitens não aparecem sem a passagem do mouse em cima. Por isso aplicamos o display:none */
}

.sublist li:hover {
    background-color: black;
}

.sublist>li:hover>.sublist {
    /* O operador > Seleciona todos os filhos-diretos do elemento. */
    display: block;
}

.sublist li {
    position: relative;
}

.sublist li .sublist {
    position: absolute;
    top: 0;
    left: 100%;
}